.careers {
  &__inner {
    padding-top: var(--section-spacing);
  }

  &__image {
    width: 100%;
    height: 382px;
    background-image: url("/images/career.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__box {
    margin: -138px var(--section-padding) 0 -30px;
    width: calc(100% - 32px + 30px);
    padding: 40px 36px 5px;
    background: rgba(40, 30, 30, 0.92);
    color: #fff;
    position: relative;
    text-align: right;
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 14px;
  }

  &__desc {
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    opacity: 0.9;
    padding-left: 20px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin-left: auto;
    background: #6C6C6C;
    color: #fff;
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 59px;
  }
}

@media (min-width: 768px) {
  .careers {
    &__box {
      margin: -170px auto 0 var(--section-padding) !important;
      width: calc(100% - 220px);
    }

    &__btn {
      width: 200px;
      height: 50px;
    }
  }
}

@media (min-width: 1024px) {
  .careers {
  }
}
