.careers {
  &__inner {
    padding-top: var(--section-spacing);
  }

  &__image {
    width: 100%;
    height: 382px;
    background-image: url("/images/career.png");
    background-size: cover;
    background-position: 69% center;
    background-repeat: no-repeat;
  }

  &__box {
    margin: -138px var(--section-padding) 0 -30px;
    width: calc(100% - 32px + 30px);
    padding: 40px 9.23% 43px 8.46%;
    background: #000000;
    color: #fff;
    position: relative;
    text-align: right;
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 14px;
  }

  &__desc {
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    opacity: 0.9;
    padding-left: 20px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin-left: auto;
    background: #6C6C6C;
    color: #fff;
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .careers {
    &__image {
      background-position: 69% center;
    }

    &__box {
      margin: -170px auto 0 var(--section-padding) !important;
      width: calc(100% - 220px);
      padding: 47px 7.03% 46px 7.16%;
    }

    &__btn {
      width: 200px;
      height: 50px;
    }
  }
}

@media (min-width: 1024px) {
  .careers {
    &__box {
      margin: -170px auto 0 var(--section-padding) !important;
      width: calc(100% - 481px);
      bottom: 70px;
      padding-top: 21px;
      padding: 41px 5.76% 34px 6.54%;
    }

    &__image {
      height: 465px;
      
    }

     &__title {
    font-family: var(--font-playfair);
    font-size: 34px;
    font-weight: 600;
  }

    &__desc {
    font-family: var(--font-inter);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 54px;
    opacity: 0.9;
  }

  .careers__btn {
    width: 200px;
    height: 50px;
    margin-bottom: 34px;
  }
  

}
}