.support {
  position: relative;
  min-height: 300px;
  margin-top: 80px;
  background: url("/images/support.png") center/cover no-repeat;
  color: #fff;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 var(--section-padding);
    height: 402px;
  }

  &__overlay {
    position: relative;
    padding: 0 20px;
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 40px;
    font-weight: 700;
    line-height: 90%;
    margin-bottom: 28px;
  }

  &__desc {
    font-family: var(--font-istok);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 25px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #6C6C6C;
    color: #fff;
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .support {
    &__overlay {
      padding: 100px 20px;
    }

    &__title {
      font-size: 70px;
      line-height: 90%;
    }

    &__desc {
      font-size: 22px;
      line-height: 28px;

      .mobile-br {
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  .support {
  }
}
