.about {
  &__inner {
    padding: var(--section-spacing) var(--section-padding) 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:first-child) {
      margin-top: var(--section-spacing);
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 16 / 10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--about {
      background-image: url("/images/about.png");
      margin-left: -40px;
      width: calc(100% + 40px);
      height: 373px;
      aspect-ratio: unset;
    }

    &--community {
      background-image: url("/images/community.png");
      margin-right: -30px;
      width: calc(100% + 50px);
      height: 372px;
      aspect-ratio: unset;
    }
  }

  &__box {
    width: calc(100% - 32px);
    padding: 40px 24px 5px;
    background: rgba(40, 30, 30, 0.92);
    color: #fff;
    position: relative;
    margin-top: -60px;
    

    &--right {
      margin-top: -115px;
      margin-left: 0;
      width: 110%;
      padding: 51px 40px 49px 36px;
      text-align: left;
    }

    &--left {
      margin-top: -130px;
      margin-left: -50px;
      width: 112%;
      padding: 51px 40px 52px 36px;
      text-align: right;

      .about__btn {
        margin-left: auto;
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 14px;
  }

  &__desc {
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    opacity: 0.9;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #6C6C6C;
    color: #fff;
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
}

.blind {
  position: absolute;
  left: -9999px;
}

@media (min-width: 768px) {
  .about {
    &__image {
      &--about {
        width: calc(100% - 32px);
        height: 440px;
        margin-left: -55px;
        margin-right: auto;
      }

      &--community {
        width: calc(100% - 32px);
        margin-left: auto;
        margin-right: -46px;
        height: 500px;
      }
    }

    &__box {
      &--right {
        margin-top: -175px;
        margin-right: 0;
        width: calc(100% - 85px);
        margin-left: auto;
      }

      &--left {
        margin-top: -200px;
        margin-left: 0;
        width: calc(100% - 85px);
        margin-right: auto;
        height: 319px;
      }
    }

    &__btn {
      width: 200px;
      height: 50px;
    }
  }
}

@media (min-width: 1024px) {
  
}
