.about {
  &__inner {
    padding: var(--section-spacing) var(--section-padding) 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:first-child) {
      margin-top: var(--section-spacing);
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 16 / 10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--about {
      background-image: url("/images/about.png");
      margin-left: -7.6925vw;
      width: calc(100% + 7.6925vw);
    }

    &--community {
      background-image: url("/images/community.png");
      margin-right: -7.6925vw;
      width: calc(100% + 7.6925vw);
    }
  }

  &__box {
    width: calc(100% - 32px);
    padding: 40px 24px 5px;
    background: rgba(40, 30, 30, 0.92);
    color: #fff;
    position: relative;
    margin-top: -60px;

    &--right {
      margin-left: auto;
      margin-right: -7.6925vw;
      width: calc(100% - 32px + 7.6925vw);
      padding: 40px 36px 5px;
      text-align: left;
    }

    &--left {
      margin-right: auto;
      margin-left: -7.6925vw;
      width: calc(100% - 32px + 7.6925vw);
      padding: 40px 36px 5px;
      text-align: right;

      .about__btn {
        margin-left: auto;
      }
    }
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 14px;
  }

  &__desc {
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    opacity: 0.9;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 50px;
    background: #6C6C6C;
    color: #fff;
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 59px;
  }
}

.blind {
  position: absolute;
  left: -9999px;
}

@media (min-width: 768px) {
  .about {
    &__image {
      &--about {
        margin-left: -5.99vw;
        width: calc(100% + 5.99vw);
      }

      &--community {
        margin-right: -5.99vw;
        width: calc(100% + 5.99vw);
      }
    }

    &__box {
      &--right {
        margin-right: 0 !important;
        width: calc(100% - 85px);
      }

      &--left {
        margin-left: 0 !important;
        width: calc(100% - 128px);
      }
    }

    &__btn {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (min-width: 1024px) {
  .about {
  }
}
