.about {
  padding: var(--section-spacing) 30px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:first-child) {
      margin-top: var(--section-spacing);
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 16 / 10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--about {
      background-image: url("/images/about.png");
    }

    &--community {
      background-image: url("/images/community.png");
    }
  }

  &__box {
    width: calc(100% - 32px);
    padding: 28px 24px;
    background: rgba(40, 30, 30, 0.92);
    color: #fff;
    position: relative;
    margin-top: -60px;

    &--right {
      margin-left: auto;
      text-align: left;
    }

    &--left {
      margin-right: auto;
      text-align: right;
    }
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 14px;
  }

  &__desc {
    font-family: var(--font-inter);
    font-size: 11px;
    line-height: 1.7;
    margin-bottom: 20px;
    opacity: 0.9;
  }

  &__btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    font-family: var(--font-inter);
    font-size: 10px;
    text-decoration: none;
    letter-spacing: 0.5px;
  }
}
