.about {
  &__inner {
    padding: var(--section-spacing) var(--section-padding) 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:first-child) {
      margin-top: var(--section-spacing);
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 16 / 10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--about {
      background-image: url("/images/about.png");
      margin-left: -40px;
      width: calc(100% + 40px);
      height: 373px;
      aspect-ratio: unset;
    }

    &--community {
      background-image: url("/images/community.png");
      margin-right: -30px;
      width: calc(100% + 50px);
      height: 372px;
      aspect-ratio: unset;
    }
  }

  &__box {
    width: calc(100% - 32px);
    padding: 40px 24px 5px;
    background: #000000;
    color: #fff;
    position: relative;
    margin-top: -60px;
    

    &--right {
      margin-top: -115px;
      margin-left: 0;
      width: 110%;
      padding: 51px 11.11% 49px 10%;
      text-align: left;
    }

    &--left {
      margin-top: -130px;
      margin-left: -50px;
      width: 112%;
      padding: 51px 11.11% 52px 10%;
      text-align: right;

      .about__btn {
        margin-left: auto;
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 14px;
  }

  &__desc {
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    opacity: 0.9;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #6C6C6C;
    color: #fff;
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
}

.blind {
  position: absolute;
  left: -9999px;
}

@media (min-width: 768px) {
  .about {
    &__image {
      &--about {
        width: calc(100% - 32px);
        height: 440px;
        margin-left: -55px;
        margin-right: auto;
      }

      &--community {
        width: calc(100% - 32px);
        margin-left: auto;
        margin-right: -46px;
        height: 500px;
      }
    }

    &__box {
      &--right {
        margin-top: -175px;
        margin-right: 0;
        width: calc(100% - 98px);
        margin-left: auto;
        padding: 52.76px 8.72% 51.46px 6.64%;
      }


      &--left {
        margin-top: -200px;
        margin-left: 0;
        width: calc(100% - 114px);
        margin-right: auto;
        height: 319px;
        padding: 48px 6.64% 48px 3.39%;
      }
    }

    &__btn {
      width: 200px;
      height: 50px;
    }
  }
}

@media (min-width: 1024px) {
  .about {
    &__item {
      position: relative;
    }

    &__image {
      &--about {
        width: 73%;
        height: 500px;
      }

      &--community {
        width: 73%;
        margin-left: auto;
        height: 500px;
      }
    }

    &__box {
      &--right {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 66%;
        margin: 0;
        padding: 41px 5.86% 59px 6.35%;
      }

      &--left {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 66%;
        margin: 0;
        height: auto;
        padding: 50px 5.76% 50px 3.81%
      }
    }

    &__title {
      font-size: 34px;
      font-weight: 700;
    }

    &__desc {
      font-size: 18px;
      font-weight: 400;
    }
  }
}

@media (min-width: 1920px) {
  .about {
    &__image {
      &--about {
        margin-left: 0;
        width: 58%;
      }

      &--community {
        margin-right: 0;
        width: 58%;
      }
    }

    &__box {
      &--right {
        width: 752px;
        height: auto;
        padding: 41px 5.05% 59px 3.63%;
      }

      &--left {
        width: 738px;
        height: auto;
        padding: 62px 3.16% 62px 5.16%;
      }
    }

    &__desc {
      line-height: 24px;
    }
  }
}
