.sbc {
  &__inner {
    padding: var(--section-spacing) var(--section-padding) 150px;
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 62px;
    color: #000;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__card {
    position: relative;
    display: block;
    height: 230px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--dean {
      background-image: url("/images/dean.png");

      .sbc__overlay {
        height: 80px;
      }
    }

    &--jolene {
      background-image: url("/images/jolene.png");

      .sbc__overlay {
        height: 80px;
      }
    }

    &--crypton {
      background-image: url("/images/crypton.png");

      .sbc__overlay {
        height: 75px;
      }
    }

    &--alton {
      background-image: url("/images/alton.png");

      .sbc__overlay {
    
        height: 100px;
      }

      .sbc__sub {
        white-space: nowrap;
      }
    }
  }

  &__overlay {
    position: absolute;
    left: 25px;
    bottom: 20px;
    height: 100px;
    padding: 12px 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    font-family: var(--font-playfair);
    font-size: 44px;
    font-weight: 400;
    line-height: 1;
    margin-right: 25px;
  }

  &__sub {
    font-family: "Istok Web", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
    opacity: 0.9;
    text-align: right;
  }
}

@media (min-width: 768px) {

  
  .sbc {
    &__card {
      &--dean,
      &--jolene,
      &--crypton,
      &--alton {
        .sbc__overlay {
          height: 100px;
        }
      }
    }
    &__title{
    margin-bottom: 44px;
  }

  }
}

@media (min-width: 1024px) {
  .sbc {
  }
}
