.sbc {
  &__inner {
    padding: var(--section-spacing) var(--section-padding) 60px;
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 62px;
    color: #000;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__card {
    position: relative;
    display: block;
    height: 140px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--dean {
      background-image: url("/images/dean.png");
    }

    &--jolene {
      background-image: url("/images/jolene.png");
    }

    &--crypton {
      background-image: url("/images/crypton.png");

      .sbc__overlay {
        width: 273px;
        height: 100px;
      }
    }

    &--alton {
      background-image: url("/images/alton.png");
    }
  }

  &__overlay {
    position: absolute;
    left: 25px;
    bottom: 20px;
    width: 200px;
    height: 100px;
    padding: 12px 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: left;
  }

  &__name {
    font-family: var(--font-playfair);
    font-size: 44px;
    font-weight: 400;
    line-height: 1;
  }

  &__sub {
    font-family: "Istok Web", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
    opacity: 0.9;
    text-align: right;
    padding-left: 30px;
  }
}

@media (min-width: 768px) {
  .sbc {
  }
}

@media (min-width: 1024px) {
  .sbc {
  }
}
