.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
  }

  &__logo {
    width: 200px;
    height: 16px;
    margin: 0;

    a {
      display: block;
      width: 100%;
      height: 100%;
      background: url("/images/logo.png") no-repeat center / contain;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__user,
  &__menu {
    padding: 0;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
  }

  &__user {
    width: 34px;
    height: 30px;
    background-image: url("/images/icon-user.png");
  }

  &__menu {
    width: 34px;
    height: 24px;
    background-image: url("/images/icon-menu.png");
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
