.ls-header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;

  .inner {
    max-width: 1920px; // 형님이 작업 중인 기준
    height: 80px;
    margin: 0 auto;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

   .logo-link img {
    width: 324px;
    height: 20px;
    display: block;
    object-fit: contain;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 59px; // 사람이랑 햄버거 사이 59px
  }

  /* 공통 아이콘 이미지 링크 */
  .icon-link {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 45px;
      height: 40px;
      display: block;
      object-fit: contain;
    }
  }
}
