.footer {
  background: #1a1a1a;
  color: #fff;

  &__inner {
    padding: 66px var(--section-padding) 65px;
    text-align: center;
    height: 365px;
  }

  &__logo {
    width: 224px;      // 로고 비율 맞게 조절
    height: 22px;
    margin: 0 auto 52px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      background: url("/images/footerlogo.png") no-repeat center / contain;
    }
  }

  &__connect {
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 38px;
    margin-bottom: 40px;
    list-style: none;
  }

  &__social-icon {
    display: block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &--ig {
      background-image: url("/images/ig.png");
    }
    &--fb {
      background-image: url("/images/fb.png");
    }
    &--tiktok {
      background-image: url("/images/tiktok.png");
    }
    &--yt {
      background-image: url("/images/yt.png");
    }
    &--rss {
      background-image: url("/images/rss.png");
    }
    &--pine {
      background-image: url("/images/pine.png");
    }
  }

  &__copy {
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }

  &__session {
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.7;
  }
}

/* 접근성 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@media (min-width: 768px) {
  .footer {

    &__logo {
    width: 250px;      // 로고 비율 맞게 조절
    height: 24px;
    }

    &__connect {
      font-size: 16px;
    }

    &__copy,
    &__session {
      display: inline;
      font-size: 18px;
    }

    &__copy::after {
      content: " ";
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    &__logo {
      width: 276px;
      height: 27px;
      margin-bottom: 50px;
    }

    &__connect {
      font-size: 20px;
    }

     &__social {
    margin-bottom: 40px;
  }
  }
}
