* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Noto Sans KR",
    sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Vite 기본 .logo, .card 이런 거 다 삭제 */
