.feature-collection {
  position: relative;
  width: 100%;
  height: 709px;
  overflow: hidden;
  background: #eee;
}

/* 배경 이미지 */
.feature-collection__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 709px;
  object-fit: cover;
}

/* 반투명 박스 */
.feature-collection__overlay {
  position: absolute;
  top: 40%;
  left: 66%;
  transform: translate(-50%, -50%);
  width: 522px;
  height: 390px;
  background: rgba(70, 70, 70, 0.35);
}

/* 콘텐츠 */
.feature-collection__content {
  position: absolute;
  top: 40%;
  left: 66%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #fff;
}

/* 타이틀 */
.feature-collection__title {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 78px;
  line-height: 0.95;
  padding-bottom: 14px;
}

/* 서브 */
.feature-collection__sub {
  font-family: "Istok Web";
  font-weight: 500;
  font-size: 38px;
  font-style: normal;
  padding-bottom: 30px;
}

/* 버튼 */
.feature-collection__btn {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #fff;
  text-decoration: none;

  padding: 10px 18px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.15);
}
