.fc {
  position: relative;
  height: 496px;
  margin-top: 150px;
  background-image: url("/images/feature.png");
  background-size: cover;
  background-position: 40% center;


  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 17px var(--section-padding);
    height: 100%;
  }

  &__content {
    position: relative;
    z-index: 1;
    text-align: right;
    color: #fff;
    background: rgba(40, 35, 30, 0.75);
    padding: 26px 25px;
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  }

  &__sub {
    font-family: "Istok Web", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }

  &__btn {
    display: block;
    width: 148px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    background: #6C6C6C;
    color: #fff;
    font-family: var(--font-inter);
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .fc {
    &__title {
      font-size: 60px;
      line-height: 60px;
    }

    &__sub {
      font-size: 30px;
      line-height: 64px;
    }

    &__btn {
      width: 200px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (min-width: 1024px) {
  
}
