.ourhome {
  &__inner {
    padding: var(--section-spacing) var(--section-padding) 0;
  }

  &__title {
    font-family: var(--font-playfair);
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 50px;
    padding: 0;
    line-height: 38px;
    color: #000;
  }

  &__slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: start;
    padding: 0;
    box-sizing: border-box;

    &:nth-child(2) .ourhome__body {
      padding-bottom: 50px;
    }
  }

  &__img {
    width: 100%;
    height: 358px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--1 {
      background-image: url("/images/collection-01.png");
    }
    &--2 {
      background-image: url("/images/collection-02.png");
    }
    &--3 {
      background-image: url("/images/collection-03.png");
    }
  }

  &__body {
    padding: 20px 0;
    padding-left: 20px;
    position: relative;
  }

  &__card-title {
    font-family: var(--font-inter);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #000;
    text-underline-offset: 3px;
  }

  &__card-desc {
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 22px;
    color: #333;
    margin-bottom: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__arrow {
    display: block;
    width: 48px;
    height: 48px;
    background: url("/images/oh-arrow.png") center/contain no-repeat;
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  &__dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ccc;

    &--active {
      background: #4a3a3a;
    }
  }
}

@media (min-width: 768px) {
  .ourhome {
    &__inner {
      padding-right: 0;
    }

    &__img {
      height: 449px;
    }

    &__title {
      padding-right: var(--section-padding);

      .mobile-br {
        display: none;
      }
    }

    &__slider {
      gap: 20px;
    }

    &__card {
      flex: 0 0 calc(80% - 20px);
      width: calc(80% - 20px);

      &:last-child {
        margin-right: var(--section-padding);
      }
    }

    &__dots {
      padding-right: var(--section-padding);
    }
  }
}

@media (min-width: 1024px) {
  .ourhome {
    &__inner {
      padding-right: var(--section-padding);
    }

    &__card {
      flex: 0 0 calc((100% - 20px) / 2);
      width: calc((100% - 20px) / 2);

      &:last-child {
        margin-right: 0;
      }
    }

    &__dots {
      padding-right: 0;
    }
  }
}

@media (min-width: 1600px) {
  .ourhome {
    &__title {
      font-size: 40px;
      line-height: 40px;
    }

    &__slider {
      overflow: visible;
    }

    &__card {
      flex: 0 0 496px;
      width: 496px;
    }

    &__card-desc {
      line-height: 24px;
    }

    &__dots {
      display: none;
    }

    &__img {
      height: 500px;
    }
  }
}
